body {
  background-color: #24e3d6;
}

#output {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: #bd6161;
}
#start{
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #bd6161;
}
#stop{
  position: absolute;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #bd6161;
}
button {
  background-color: #0f00ff;
}